Repository albertocavalcante/bazelle: changes, and which lefthook commands are due for each by the changed paths.
All: bazel-lint, go-fmt, yaml-fmt, workflow-lint, workflow-pin, shell-lint

bazel-lint:
  run: buildifier -mode=check -lint=warn {staged_files}

go-fmt:
  run: gofmt -l {staged_files} | grep . && exit 1 || true

yaml-fmt:
  run: yamlfmt -lint {staged_files}

workflow-lint:
  run: "if command -v ghalint &> /dev/null; then\n  ghalint run -c tools/lint/ghalint.yaml\nfi\nif command -v actionlint &> /dev/null; then\n  actionlint {staged_files}\nfi\n"

workflow-pin:
  run: "if command -v pinact &> /dev/null; then\n  pinact run --verify -c tools/lint/pinact.yaml\nfi\n"
  fail_text: Run 'pinact run -u -c tools/lint/pinact.yaml' to pin action versions

shell-lint:
  run: shellcheck {staged_files}

chore: add Bazelisk configuration for cache management
  .bazeliskrc
Due: none

chore: fix Bazel module reproducibility warnings
  .gitignore
  MODULE.bazel
Due: none

chore: suppress maven multi-module contribution warning
  MODULE.bazel
Due: none

chore: suppress tree-sitter C parser warnings
  .bazelrc
Due: none

fix(kotlin): add embedsrcs for go:embed txt files
  gazelle-kotlin/kotlin/BUILD.bazel
Due: bazel-lint

docs(parsing): clarify heuristic vs deterministic parsing strategies
  cmd/bazelle/internal/detect/BUILD.bazel
  cmd/bazelle/internal/detect/detect.go
  cmd/bazelle/internal/langs/langs.go
  gazelle-kotlin/kotlin/BUILD.bazel
  gazelle-kotlin/kotlin/comment_strip.go
  gazelle-kotlin/kotlin/comment_strip_test.go
  gazelle-kotlin/kotlin/fqn_scanner.go
  gazelle-kotlin/kotlin/parser.go
  gazelle-kotlin/kotlin/parser_backend.go
  gazelle-python/python/parser.go
  pkg/jvm/types.go
  pkg/jvm/types_test.go
Due: bazel-lint, go-fmt

fix(proto): patch grpc-java to use proto toolchain for prebuilt protoc
  .bazelrc
  MODULE.bazel
  third_party/patches/contrib_rules_jvm_grpc_java_1.78.patch
  third_party/patches/contrib_rules_jvm_proto_toolchain.patch
  third_party/patches/contrib_rules_jvm_protoinfo_fix.patch
  third_party/patches/grpc-java-combined.patch
  third_party/patches/grpc_java_proto_toolchain/combined-grpc-java.patch
  third_party/patches/grpc_java_proto_toolchain/contrib_grpc-java.patch.modified
  third_party/patches/grpc_java_proto_toolchain/contrib_grpc-java.patch.orig
  third_party/patches/grpc_java_proto_toolchain/contrib_rules_jvm_MODULE.bazel.orig
  third_party/patches/grpc_java_proto_toolchain/grpc-java-proto-toolchain.patch
  third_party/patches/grpc_java_proto_toolchain/grpc-java.combined.patch
  third_party/patches/grpc_java_proto_toolchain/grpc-java.original.patch
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.ab.patch
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.modified
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.orig
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.original
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.patch
  third_party/patches/grpc_java_protoinfo.patch
Due: none

chore(proto): add verification script and clean up patch artifacts
  .bazelrc
  third_party/patches/grpc_java_proto_toolchain/README.md
  third_party/patches/grpc_java_proto_toolchain/combined-grpc-java.patch
  third_party/patches/grpc_java_proto_toolchain/contrib_grpc-java.patch.modified
  third_party/patches/grpc_java_proto_toolchain/contrib_grpc-java.patch.orig
  third_party/patches/grpc_java_proto_toolchain/contrib_rules_jvm_MODULE.bazel.orig
  third_party/patches/grpc_java_proto_toolchain/grpc-java-proto-toolchain.patch
  third_party/patches/grpc_java_proto_toolchain/grpc-java.combined.patch
  third_party/patches/grpc_java_proto_toolchain/grpc-java.original.patch
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.ab.patch
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.orig
  third_party/patches/grpc_java_proto_toolchain/java_grpc_library.bzl.patch
  tools/scripts/BUILD.bazel
  tools/scripts/verify_prebuilt_protoc.sh
Due: bazel-lint, shell-lint

chore(scripts): add genquery examples for dependency analysis
  tools/scripts/BUILD.bazel
Due: bazel-lint

feat(sbom): add supply-chain metadata and SPDX SBOM generation
  MODULE.bazel
  REPO.bazel
  supply_chain/BUILD.bazel
  third_party/patches/supply_chain_go_module.patch
Due: bazel-lint

feat(lang): add comprehensive Python and Groovy language support
  gazelle-groovy/groovy/BUILD.bazel
  gazelle-groovy/groovy/comment_strip.go
  gazelle-groovy/groovy/fqn_scanner.go
  gazelle-groovy/groovy/generate.go
  gazelle-groovy/groovy/groovy_builtin_types.txt
  gazelle-groovy/groovy/groovy_common_prefixes.txt
  gazelle-groovy/groovy/groovy_stdlib_prefixes.txt
  gazelle-groovy/groovy/lang.go
  gazelle-groovy/groovy/parser.go
  gazelle-groovy/groovy/parser_test.go
  gazelle-groovy/groovy/resolve.go
  gazelle-groovy/groovy/stdlib.go
  gazelle-python/python/BUILD.bazel
  gazelle-python/python/config.go
  gazelle-python/python/generate.go
  gazelle-python/python/generate_test.go
  gazelle-python/python/parser.go
  gazelle-python/python/pip.go
  gazelle-python/python/pip_known_mappings.txt
  gazelle-python/python/pip_test.go
  gazelle-python/python/resolve.go
  gazelle-python/python/suggestions.go
Due: bazel-lint, go-fmt

feat(infra): add Copybara setup for gazelle plugin sync
  .github/dependabot.yml
  .github/workflows/copybara-sync.yml
  MODULE.bazel
  gazelle-groovy/MODULE.bazel
  gazelle-groovy/go.mod
  gazelle-kotlin/go.mod
  gazelle-python/MODULE.bazel
  gazelle-python/go.mod
  infra/copybara/README.md
  infra/copybara/copy.bara.sky
  tools/copybara/BUILD.bazel
Due: bazel-lint, yaml-fmt, workflow-lint, workflow-pin

fix(ci): use vars for EUKIA_APP_ID instead of secrets
  .github/workflows/copybara-sync.yml
Due: yaml-fmt, workflow-lint, workflow-pin

fix(copybara): remove no-op moves and note validation
  AGENTS.md
  infra/copybara/copy.bara.sky
Due: none

feat(docs): add llms.txt generation and copy-as-markdown button
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/src/components/CopyMarkdown.astro
  docs/src/components/PageTitle.astro
Due: none

feat(docs): add Starlark highlighting, OG image, and enhancements
  docs/astro.config.mjs
  docs/public/og-image.png
  docs/src/components/CopyMarkdown.astro
  docs/starlark.tmLanguage.json
Due: none

feat(vscode): add VSCode extension with bundled binaries
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  LICENSE
  editors/code/.gitignore
  editors/code/.vscodeignore
  editors/code/LICENSE
  editors/code/README.md
  editors/code/biome.json
  editors/code/bun.lock
  editors/code/esbuild.ts
  editors/code/language-configuration.json
  editors/code/package.json
  editors/code/src/commands.ts
  editors/code/src/configuration.ts
  editors/code/src/extension.ts
  editors/code/src/services/bazelle.ts
  editors/code/src/services/binaryResolver.ts
  editors/code/src/services/watch.ts
  editors/code/src/ui/statusBar.ts
  editors/code/syntaxes/starlark.tmLanguage.json
  editors/code/tsconfig.json
Due: yaml-fmt, workflow-lint, workflow-pin

chore: add LICENSE symlinks to gazelle plugin directories
  gazelle-groovy/LICENSE
  gazelle-kotlin/LICENSE
  gazelle-python/LICENSE
Due: none

fix(ci): simplify Bazel caching to avoid path errors
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-fmt, workflow-lint, workflow-pin

fix(ci): update actions and add Rust for Windows builds
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-fmt, workflow-lint, workflow-pin

fix(ci): skip Windows builds temporarily, keep code for later
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-fmt, workflow-lint, workflow-pin

fix(ci): fix actionlint/shellcheck issues and update to v1.70.0
  .github/workflows/ci.yml
  .github/workflows/copybara-sync.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  lefthook.yml
Due: yaml-fmt, workflow-lint, workflow-pin

chore: expand justfile with editor/browser/CI recipes
  justfile
Due: none

refactor(build): clean up BUILD files and move supply_chain to tools/
  MODULE.bazel
  REPO.bazel
  cmd/bazelle/BUILD.bazel
  cmd/bazelle/internal/cli/BUILD.bazel
  gazelle-python/python/BUILD.bazel
  pkg/treesitter/BUILD.bazel
  tools/nogo/copylock/BUILD.bazel
  tools/nogo/copylock/testdata/src/a/BUILD.bazel
  tools/nogo/errcheck/BUILD.bazel
  tools/nogo/errcheck/testdata/src/a/BUILD.bazel
  tools/nogo/errorsas/BUILD.bazel
  tools/nogo/errorsas/testdata/src/a/BUILD.bazel
  tools/nogo/lostcancel/BUILD.bazel
  tools/nogo/lostcancel/testdata/src/a/BUILD.bazel
  tools/nogo/printf/BUILD.bazel
  tools/nogo/printf/testdata/src/a/BUILD.bazel
  tools/nogo/structtag/BUILD.bazel
  tools/nogo/structtag/testdata/src/a/BUILD.bazel
  tools/nogo/unusedresult/BUILD.bazel
  tools/nogo/unusedresult/testdata/src/a/BUILD.bazel
  tools/supply_chain/BUILD.bazel
Due: bazel-lint

docs: add VS Code extension documentation
  docs/astro.config.mjs
  docs/src/content/docs/editors/index.mdx
  docs/src/content/docs/editors/vscode.mdx
  docs/src/content/docs/installation.mdx
Due: none

fix(ci): exclude nogo testdata from validation and fix test failures
  gazelle-python/python/config_test.go
  tools/nogo/copylock/BUILD.bazel
  tools/nogo/errcheck/BUILD.bazel
  tools/nogo/errorsas/BUILD.bazel
  tools/nogo/lostcancel/BUILD.bazel
  tools/nogo/nogo.json
  tools/nogo/printf/BUILD.bazel
  tools/nogo/structtag/BUILD.bazel
  tools/nogo/unusedresult/BUILD.bazel
Due: bazel-lint, go-fmt

feat(daemon): implement daemon mode phase 1
  cmd/bazelle/internal/cli/BUILD.bazel
  cmd/bazelle/internal/cli/daemon.go
  cmd/bazelle/internal/cli/daemon_restart.go
  cmd/bazelle/internal/cli/daemon_start.go
  cmd/bazelle/internal/cli/daemon_status.go
  cmd/bazelle/internal/cli/daemon_stop.go
  cmd/bazelle/internal/cli/daemon_unix.go
  cmd/bazelle/internal/cli/daemon_windows.go
  cmd/bazelle/internal/daemon/BUILD.bazel
  cmd/bazelle/internal/daemon/client.go
  cmd/bazelle/internal/daemon/handler.go
  cmd/bazelle/internal/daemon/lifecycle.go
  cmd/bazelle/internal/daemon/protocol.go
  cmd/bazelle/internal/daemon/server.go
  docs/specs/daemon-mode-phase1.md
Due: bazel-lint, go-fmt

fix: add shebang to polyglot scripts for Unix execution
  bazel.cmd
  tools/gopackagesdriver.cmd
Due: none

feat(daemon): add tests, VS Code integration, and documentation
  README.md
  cmd/bazelle/internal/daemon/BUILD.bazel
  cmd/bazelle/internal/daemon/client.go
  cmd/bazelle/internal/daemon/client_test.go
  cmd/bazelle/internal/daemon/handler_test.go
  cmd/bazelle/internal/daemon/integration_test.go
  cmd/bazelle/internal/daemon/lifecycle_test.go
  cmd/bazelle/internal/daemon/protocol.go
  cmd/bazelle/internal/daemon/protocol_test.go
  cmd/bazelle/internal/daemon/server_test.go
  docs/specs/daemon-mode-phase1.md
  docs/src/content/docs/cli/daemon.mdx
  docs/src/content/docs/cli/index.mdx
  docs/src/content/docs/cli/watch.mdx
  docs/src/content/docs/editors/vscode.mdx
  docs/src/content/docs/troubleshooting.mdx
  editors/code/README.md
  editors/code/package.json
  editors/code/src/commands.ts
  editors/code/src/configuration.ts
  editors/code/src/services/daemon.ts
  editors/code/src/services/watch.ts
  editors/code/src/ui/statusBar.ts
Due: bazel-lint, go-fmt

feat: enable Java language support (grpc-java v1.78.0 fix)
  MODULE.bazel
  pkg/registry/BUILD.bazel
  pkg/registry/registry.go
Due: bazel-lint, go-fmt

Path conditions:
  bazel-lint: any of: **/{BUILD,BUILD.bazel,WORKSPACE,WORKSPACE.bazel,MODULE.bazel,*.bzl}
  go-fmt: any of: **/*.go
  yaml-fmt: any of: **/*.{yml,yaml}, but not: MODULE.bazel.lock
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  workflow-pin: any of: .github/workflows/*.{yml,yaml}
  shell-lint: any of: **/*.sh
